html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
address,
code,
aside,
canvas,
footer,
header,
nav,
section,
article,
summary,
details,
ul,
li,
fieldset,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

section,
article,
aside,
details,
footer,
header,
nav {
  display: block;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
button,
select,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  background: none;
  outline: none;
}

input {
  border: 1px solid;
}

html,
body,
#root,
.App {
  width: 100%;
  height: 100%;
}
